vti_encoding:SR|utf8-nl
vti_author:SR|ARTH\\Administrator
vti_timelastmodified:TR|02 Nov 2004 16:35:56 -0000
vti_timecreated:TR|20 Mar 2004 07:06:38 -0000
vti_lineageid:SR|{D89F77BE-B1F4-47BF-AAF2-87BD31AC8447}
vti_extenderversion:SR|5.0.2.5012
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|29 Sep 2004 07:18:16 -0000
vti_modifiedby:SR|ARTH\\Administrator
vti_cacheddtm:TX|02 Nov 2004 16:35:56 -0000
vti_filesize:IR|3497
